* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#container {
  display: flex;
  height: calc(100vh - 50px);
}

#leftPanel {
  width: 200px; /* 设置初始宽度为200px */
  background:lightgray;
}

#divider {
  cursor: ew-resize;
  flex-shrink: 0; /* 防止分割栏被压缩 */
  width: 10px;
  background: linear-gradient(to right, lightgray, lightgray, white);
}

#rightPanel {
  flex-grow: 1;
  background: rgb(255, 255, 255);
}

.custom-navbar {
  display: flex;
  position: relative;
  height: 50px;
  align-items: center;
  background-color: lightgray;
  color: white;
  padding: 0px 10px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);  
}

.navbar-brand {
  font-size: 24px;
  color: white;
  line-height: 50px;
}

nav button {
  background-color: transparent; /* 纯平背景 */
  border: 1px solid #eee; /* 细边框，颜色可以根据需要调整 */
  color: #333; /* 按钮文字颜色，也可以根据需要调整 */
  padding: 4px 12px; /* 内边距，根据按钮大小需要调整 */
  text-align: center; /* 文字居中 */
  text-decoration: none; /* 去除下划线 */
  display: inline-block; /* 使按钮不占据整行 */
  font-size: 16px; /* 字体大小，根据需要调整 */
  margin: 6px 4px; /* 外边距，提供周围空间 */
  cursor: pointer; /* 鼠标悬停时显示指针 */
  transition: all 0.3s ease 0s; /* 平滑过渡效果 */
}

nav button:hover {
  background-color: #f2f2f2; /* 鼠标悬停时的背景颜色变化 */
  color: #000; /* 鼠标悬停时的文字颜色变化 */
}